@font-face {
   font-family: 'JustSignature';
   font-display: swap;
   src: url('file:///C:/Users/Billty/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-15_161729/fonts/JustSignature/font.ttf');
}
